<html ng-app="todoApp">
<head>
  <title>ngTalk</title>
  <!-- Vendor Link -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Local Link -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="TodoController">


  <div ng-show="present" ng-repeat="item in items" class="complete-{{item.done}}">
    <input type="checkbox">
    {{item.detail}}
  </div>



  <form ng-submit="addItem()">
    <input class="mac" placeholder="Add items here" ng-model="newItem" autofocus>
    <br>
    <button class="btn btn-success">Add +</button>
  </form>


  <!-- Vendor Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- Local Script -->
  <script src="app.js"></script>
</body>
</html>
