












































body {
  padding: 2rem;
}

/*Default Styling*/
div {
  height: 5rem;
  width: 18rem;
  margin: 30px;
  position: relative;
  background-color: #217F9C;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,.5);
  text-align: center;
  padding-top: 10px;
  color: white;
}

div:hover {
  /*background: #0AF*/
}


.mac {
  width: 20rem;
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow:
      inset 0 2px 0 rgba(0,0,0,.2),
      0 0 4px rgba(0,0,0,0.1);
}

.mac:focus {
  outline: none;
  box-shadow:
      inset 0 2px 0 rgba(0,0,0,.2),
      0 0 4px rgba(0,0,0,0.1),
      0 0 5px 1px #51CBEE;
}
